extends layout

block content
  .grid
    div
      button(onclick='history.back()' role="button") Go Back
    div
    div
    div
    div
      form(method="post" action='/admin/logout')
        button(type="submit" role='button') Log Out

  main.container
      h2 #{data.nama}
      br
      p Daerah: #{data.daerah}
      p Negeri: #{data.negeri}
      p KP yang bertanggungjawab: #{data.handler}
      p 
          - var url = "../update/" + data.id
          a(href=url) Ubah penanggungjawab
