extends layoutgen

block content

  h1 Nama murid: #{nama.namaPendaftaranTadika}

  div(style='margin-left:20px;margin-top:20px')
    p Kelas: #{nama.kelasPendaftaranTadika}
    p Umur: #{nama.umurPendaftaranTadika}
    p Nama Tadika: #{nama.namaTaskaTadikaPendaftaranTadika}

  hr
  p Anda yakin ingin menghapus murid ini dari sistem?

    form(method='POST' action='')
      div.form-group
        input#kidid.form-control(type='hidden',name='kidid', required='true', value=nama._id )

      button.btn.btn-primary(type='submit') Delete